@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-background: #FDFDFD;
  --color-main1: #4984EB;
  --color-main2: #515151;
  --color-sub1: #757575;
  --color-sub2: #9A9A9A;
  --color-sub3: #DDDDDD;
  --color-sub4: rgb(212 212 212 / 0.3);
  --color-green: #50BA60;
  --color-red: #E84F4F;
  --color-black: #000000;
  --color-white: #FFFFFF;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
